#bluedot{
    background-color: rgb(255,200,10);
    position:absolute;
    width:200px;
    height:200px;
    border-radius: 100px;
    left:0px;
    transition:3s;
    top:200px;

}

#bluedot.annimate{
transform:translate(100vw,0);
background-color: red;
}
#bluedot.annimate2{
    transform:translate(-100vw,0);
    background-color: red;
    }