body{
    width:100%;
background-color: black;

}

.horizontal_slider{
    width: 100vw;
    height:45vh;
    position:relative;

    overflow:auto;
    white-space: nowrap; 
}

.centreword{
text-align: center;
color:yellow;
border: solid;
border-color: blue;

}

.photosetting{
    display:inline-block;


}


.slide1{
    background-color: black;
    width:100vw;
    height:auto;
    position:relative;
    color:white;
    margin-bottom:1vh;
    overflow: auto;
    border: solid;
    border-color: blue;

}

.slide1_backgroundvideo{
    width:100%;
    height:auto;
}

.slide2{
    background-color: rgb(255, 0, 0);
    width:100vw;
    height:auto;
    position:relative;
    color:white;
    margin-bottom:1vh;
    
}

.slide3{
    background-color: rgb(255, 0, 0);
    width:100%;
    height:auto;
    position:relative;
    color:white;
    
}

