html{
    scroll-behavior: smoooth;
}

body{
    background-color:black;
    display:grid;
    place-content:center;
    color:white;
}


.main{
display:grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
place-items:center;
/* border: solid; */

    }
    
.invictus{
/* border:white; */
width:40vw;
margin-left:auto;
margin-right:auto;
grid-area: 1 / 1;
z-index: 3;
}

.invictus1{
    /* border:white; */
    width:40vw;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
    height: calc(93% - 15vh);
    top: 15vh;
    z-index: 3;
    /* border:solid */
}
    


    .stickyimage{
    position:sticky;
    top: 40vh;
    width:100%;
    /* border:solid; */

    
    }
    

.snakefaq{
    /* border:white; */
    width:34vw;
    margin-left:auto;
    margin-right:auto;
    grid-area: 1 / 1;
    z-index: 3;
    }

.textblock{
    text-align: center;
    z-index: 2;
    padding-left: 25vw;
    padding-right: 25vw;
    font-size:0.8em;
    margin-top: 15vh;
    margin-bottom:15vh;
    line-height:25px;
}
.videotext1{
    border:white;
    margin-left:auto;
    margin-right:auto;
    grid-area: 1 / 1;
    z-index: 3;
    font-weight: 50px;
    font-size:small;
    margin-top: 15%;
    }

.videotext2{
        border:white;
        margin-left:auto;
        margin-right:auto;
        grid-area: 1 / 1;
        z-index: 3;
        font-weight: 50px;
        font-size:small;
        margin-top: 60%;
     }

.drawing{
    grid-area: 1/1;
    z-index: 2;
    position: absolute;
    }

.snake{
    border:white;
    width:30%;
    margin-left:auto;
    margin-right:auto;
    z-index: 1;
    float:left;
    }

.invictus1:hover{

    width:45vw;
    }


.container{
width:auto;
height: 100hv;
position:relative;
}

.slides{
    width:100%;
    height: 100hv;
    align-items: center;
    justify-content: center;
    position:sticky;
    margin: 0 auto;

}

.container4{
    width:100%;
    height: 100hv;
    }


.slides1{
        width:auto;
        height: 100hv;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    
    }


    .container2{
        width:auto;
        height: 100hv;
        position:relative;
        overflow: hidden;
        padding-top:5vh;
        padding-bottom:5vh;
        }

    .container3{
            width:auto;
            height: 100hv;
            position:relative;
            overflow: hidden;
            padding-top:6vh;
    }

    .slides2{
        width:100%;
        height: 100hv;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    
    }

.backgroundvideo{
    width:100%;
    grid-area: 1 / 1;
    z-index: 1;
    opacity: 0.75;
    }

.snake:hover{
    width:35%
}



.split-screen {

    display: flex;
  
    /* Use flexbox for easy split layout */
  
  }
  
  
  
  .left-section, .right-section {
  
    width: 50%; /* Each section takes 50% of the screen width */
  
  }
  
  
  
  .left-section {
  
    /* Optional styling for the left section */
  
  }
  
  
  
  .right-section {
  
    /* Optional styling for the right section */
  
  }

  .links{
    text-decoration:none;
    color:white;
    font-family: "HelveticaNeueBold";
    z-index: 8;
    display:inline;
    padding: 0 4em;
    font-size: small;

  }

  @font-face
  {
      font-family: 'HelveticaNeueRegular';
      src: url('../fonts/HelveticaNeue.eot');
      src: local('Helvetica Neue Bold'), local('HelveticaNeue'), url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf') format('truetype');
  }
  
  @font-face
  {
      font-family: 'HelveticaNeueCondensedBold';
      src: url('../fonts/HelveticaNeue-CondensedBold.eot');
      src: local('HelveticaNeue-CondensedBold'), local('HelveticaNeue-CondensedBold'), url('../fonts/HelveticaNeue-CondensedBold.woff') format('woff'), url('../fonts/HelveticaNeue-CondensedBold.ttf') format('truetype');
  }

  @font-face
  {
      font-family: 'HelveticaNeueLight';
      src: url('../fonts/HelveticaNeue-Light.eot');
      src: local('HelveticaNeue-Light'), local('HelveticaNeue-Light'), url('../fonts/HelveticaNeue-Light.woff') format('woff'), url('../fonts/HelveticaNeue-CondensedBold.ttf') format('truetype');
  }

  @font-face
  {
      font-family: 'HelveticaNeueBold';
      src: url('../fonts/HelveticaNeue-Bold.eot');
      src: local('HelveticaNeue-Bold'), local('HelveticaNeue-Bold'), url('../fonts/HelveticaNeue-Bold.woff') format('woff'), url('../fonts/HelveticaNeue-CondensedBold.ttf') format('truetype');
  }

  .links:hover{
font-size: medium;
  }
