body{
    margin:0;
    padding:0;
}

#buttonsetting{
z-index: 10;
bottom:40px;
position:absolute;
padding-left:20px;
padding-right:20px;
padding-top:5px;
padding-bottom:5px;
background-color: rgb(255, 255, 255);
border-style:solid;
color:rgb(255, 255, 255);
border-radius: 300px;
border-color: rgb(164, 23, 235);
border-width: 2px;
}
#button1{    
    background-color: transparent;
    border:none;
    color:rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;
}

#submissionpage{
    z-index: 10;
    position:absolute; 
    display:flex;
    width:100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    visibility:hidden;
    opacity:0;
    transition: 1s;
}

#submissionpage.fade{
    opacity:1;
}

.section1{
    width:80vw;
    display:flex;
    height:80vh;
    background-color: rgb(172, 62, 205);
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border-radius: 20px;
}


.container1{
    height:100vh;
    width:100vw;
    color: black;
    display:flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hidden{
    opacity:0;
    filter:blur(5px);
    transform:translate(-100px,0);
    transition:all 1s;
}

.hidden.show{
    filter:blur(0);
    transform:translate(0,0);
    opacity:1;
}

.hidden{
    opacity:0;
    filter:blur(5px);
    transform:translate(-100px,0);
    transition:all 1s;
}

.hidden.show{
    filter:blur(0);
    transform:translate(0,0);
    opacity:1;
}




.logo{
    background:url(MEDIA/bikewithoutlightning.png) no-repeat center /cover;
    width:50em;
    /* border-style:solid;
border-color: black; */
}

.WritingPage{
    width:100%;
    justify-content: center;
    text-align: center;
    text-align: center;
    }
    

.MainTitle{
    color:rgb(255, 255, 255);
    text-shadow: 5cm;
    font-size: large;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;

}
.footnotes{
    position:absolute;
    bottom:0;
    display:block;
    margin-bottom: 5%;
    margin-left: 5%;
}

.zoomin{
    /* Add any desired base styling here */
   /* Example width */
    transition: transform 0.25s ease-in-out; /* Optional: Smooth transition */
  }
.zoomin:hover{
    transform:scale(200%);
    transform:rotate(360deg);
}

.container2{
    margin-top:10vh;
    height:100vh;
    width:100vw;
    color: black;
    display:flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    /* align-items: center; */
    position:relative;
}

.container3{
    height:auto;
    width:100vw;
    color: black;
    display:flex;
    flex-direction: column;
    background-color:rgba(255, 255, 255, 0.81);
    /* justify-content: center; FOR CENTERING HEIGHT */
     align-items: center; /*FOR CENTERING HEIGHT */
    position:relative;
    text-align: center;
    /* border-style: solid; */
}



.topheader{
    position:absolute;
    left:0;
    font-weight: bolder;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    width:fit-content;
    height:25%;
    /* border-style: solid; */
    padding-left: 2em;
}

.leftblock{
    position:absolute;
    left:0;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width:fit-content;
    top:23vh;
    height:100%;
    /* border-style: solid; */
    padding-left: 6em;
}

.rightblock{
    position:absolute;
    right:0;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width:fit-content;
    top:23vh;
    height:100%;
    /* border-style: solid; */
    padding-right: 6em;
}
h1{
    color:rgb(0, 0, 0);
    text-shadow: 5cm;
    font-size: 2em;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    left:2em;
    top:0;

}

.topheader2{
    font-weight: bolder;
    margin-top: 5%;
    font-size: 6em;
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    height:fit-content;
    padding-top:0.5em;
    padding-bottom:0.5em;
    margin-bottom:0.5em;
    /* background: rgba(248, 218, 255, 0.589); */
    border-radius: 5cm;
    position: relative;

}

.paragraph{
    width:60%;
    display: flex;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    justify-content: center;
    padding-top: 7%;
    line-height: 50px;
    margin-bottom: 10%;
}

.subtext{
    width:60%;
    display: flex;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
    text-align: center;
    justify-content: center;
    padding-top: 7%;
    line-height: 40px;
    margin-bottom: 10%;
}


.firstletter{
    font-size:12vh;
    color:rgb(76, 5, 143);
}


.horizontal_slider{
    width: 100vw;
    height:100%;
    position:relative;
    color: white;
    overflow-x:auto;
white-space: nowrap; 
scrollbar-width: none;
margin-bottom:3%;
}

.slidephoto1{
    max-height: 100%;
    max-width:auto;
    white-space: nowrap; 
    display:inline-block;
    /* border-color: rgb(255, 0, 0);
    border-style: solid;  */
    position:relative;
    text-align: center; 
    justify-content: center;
    word-wrap: break-word;
    overflow-x:hidden;
    }

.slidephoto{
    height:auto;
    width:15vw;
    padding-left:2vh;
    padding-right:2vh;
    margin-top:2vh;
    margin-left:2vh;
    margin-right:6vh;
    margin-bottom:2vh;
    background-color: white;
    object-fit: cover;
}

.slidephoto2{
    height:auto;
    width:10vw;
    padding-left:2vh;
    padding-right:2vh;
    margin-left:2vh;
    margin-bottom:2vh;
    background-color: white;
    object-fit: cover;
}

.slidephoto2:hover{
    width:12vw
}


.splitscreen{
    width:100%;
    height:auto;
    display:flex;
    position:relative;
    padding-left:5%;
    padding-right:5%;
    gap: 1%;
    justify-content: space-evenly;
}

.leftsplit{
   display:flex;
   flex-direction: row;

}

.rightsplit{
    display:flex;
    flex-direction: row;
    
}


.splitscreenabs{
    width:100%;
    height:auto;
    position:relative;
    display:flex;
    flex-direction: row;

}

.splitscreenabsreverse{
    width:100%;
    height:auto;
    position:relative;
    display:flex;
    flex-direction: row-reverse;

}

.leftsplitabs{
    position: relative;
    display: flex;
    width:20%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:5%;
    justify-content: flex-end;
 }

 .middlesplitabs{
    position: relative;
    display: flex;
    width:50%;
    margin-right:10%;
    margin-bottom:5%;
    justify-content: center;
    align-items: center;
 }
 
 .rightsplitabs{
    position: relative;
    display: flex;
    width:10%;
    height:10%;
    margin-left:5%;
    margin-right:5%;
    margin-top:15%;
    margin-bottom:5%;
    justify-content: flex-end;

 }










.transform1{
    opacity:0;
    filter:blur(5px);
    transform:translate(-100px,0);
    transition:all 1s;
}

.transform1.show{
    filter:blur(0);
    transform:translate(0,0);
    opacity:1;
}

.transform2{
    opacity:0;
    filter:blur(5px);
    transform:translate(-0,100px);
    transition:all 1s;
}

.transform2.show{
    filter:blur(0);
    transform:translate(0,0);
    opacity:1;
}

.slideshow{
    animation-name: slideshowannimation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes slideshowannimation{
    from{transform:translate(0,0)}
    to{transform:translate(-10vw,0)}

}

#buttonsetting:hover{
    background-color: blueviolet;
}

#button1:hover{
    color: rgb(255, 255, 255);
}