*{
    margin:0;
    padding:0;
box-sizing:border-box;
}

/* .infinitescroll{ 
    width:100vw;
    height:100vh;
} */

body{  
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:rgb(255, 255, 255);
    overflow-x:hidden;
}

.container{
    position:relative;
    display:flex;
    width:100vw;
    margin-top: 50vh;
    height:70vh;

}

.moodbar{
    width:5vw;
    height:4vh;
    border-radius: 5vw;
    margin-top: 5vh;
    margin-left: 4vw;
    background: red;
    position:absolute;
    align-self:flex-start;
    left:0;
    top:0;
    transition:1.5s;
    
}

.darkmode{
    width:3vw;
    height:2vh;
    border-radius: 5vw;
    margin-top: 5vh;
    margin-right: 4vw;
    background: none;
    position:absolute;
    align-self:flex-start;
    right:0;
    top:0;
    border-color: black;
    border-style: solid;
    
}

.darkcircle{
    width:2vh;
    height:2vh;
    border-radius: 5vw;
    margin-top: 5vh;
    margin-right: 4vw;
    background: rgb(0, 0, 0);
    position:absolute;
    align-self:flex-start;
    right:0;
    top:0;
    transition:1s;

}



.containerlarge{
    width:100vw;
    height:30vh;
    justify-content: center;
    align-items: center;
}

.menubar{
position:absolute;
left:30vw;
top:7vh;
display:flex;
width:40vw;
height:25vh;
justify-content: space-around;
text-align: center;
z-index: 3;
color:black;
transition:1s;
}


.overlay{
    background: rgb(255, 255, 255);
    position:absolute;
    height:100vh;
    width:100vw;
    top:0;
    z-index: 4;
    visibility:collapse;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.row{
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    
}
.container .item
{
    position:absolute;
    width:30vw;
    height:30vw;
    /* background: white; */
    top:-15vw;
    left:35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    opacity:0;
    transition:0.2s;
    transform-origin: center;
}

.container .item:nth-child(1)
{
    transform:translate3d(-50vw,10vh,0) scale(0.5);
    /* background: red; */
    z-index: 1;
    opacity:0.4;
    transform-origin: center;
}

.container .item:nth-child(2)
{
    transform:translate3d(-25vw,5vh,0) scale(0.75);
    /* background: blue; */
    z-index: 2;
    opacity:0.7;
    transform-origin: center;
}

.container .item:nth-child(3)
{
    transform:translate3d(0,0,0) scale(1);
    /* background: rgb(255, 255, 255); */
    z-index: 5;
    opacity:1;
    transform-origin: center;
    transition:1s;
}


.container .item:nth-child(4)
{
    transform:translate3d(25vw,5vh,0) scale(0.75);
    /* background: rgb(12, 202, 88); */
    z-index: 2;
    opacity:0.7;
    transform-origin: center;
}


.container .item:nth-child(5)
{
    transform:translate3d(50vw,10vh,0) scale(0.5);
    /* background: rgb(110, 108, 236); */
    z-index: 1;
    opacity:0.4;
    transform-origin: center;
}

h{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vh;
    font-weight: bolder;
}



.container2{
    position:relative;
    display:flex;
    width:100vw;
    height:100vh;
    background: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;

}
 .multicolor{
    width:40%;
    height:20%;
    border-radius: 10vw;
    background-size: 400% 400%;
    animation: gradientMove 10s infinite;
    transition:2s
 }

 @keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  
  .multitext{
  justify-content: center; 
  align-items:center;
  display: flex;
  width:100%;
  height:100%;
  font-size: 2vw;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
transition:2s
  }

  .multicolor:hover{
    width:100vw;
    height:100vh;
    border-radius: 0;
  }

  .multitext:hover{
    font-size: 4vw;
  }

  .moodbar:hover{
    width:24vw;
  }



.container .item:nth-child(3).annimate{
transform:translate3d(-25vw,0,0) scale(1.1); 
}







/* PROJECT PICKER */


.container3{
    position:absolute;
    top:0;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    visibility:collapse;
    z-index: 5;

}

.dot {
    position:absolute;
    width:10vw;
    height:10vw;
    background: red;
    border-radius: 10vw;
    right:-5vw;
    top:-5vw;
    opacity:0;
    transition:1s;
}

.dot.annimation{
    animation-name:sphererotate;
    animation-duration:1s;
    animation-fill-mode: forwards;
}


@keyframes sphererotate{
    0% {
        right:-5vw;
        top:-5vh;
      } 
    25% {
        right:10vw;
        top:20vh;
      } 
    50% {
        right:25vw;
        top:45vh;
      } 
    75% {
        right:10vw;
        top:70vh;
      } 
      100% {
        right:-5vw;
        top:95vh;
      } 

}

#infinitescroll{
    background:rgba(255,255,255,0);
    transition:1s;
}
